.elementor-50 .elementor-element.elementor-element-a198593>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-50 .elementor-element.elementor-element-a198593>.elementor-element-populated {
    padding: 0px 90px 0px 0px;
}

.elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-ddfd6d4>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder,
.elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-50 .elementor-element.elementor-element-5a33d7d>.elementor-widget-container {
    padding: 0px 0px 35px 0px;
}

.elementor-50 .elementor-element.elementor-element-5a33d7d .wdt-heading-holder,
.elementor-50 .elementor-element.elementor-element-5a33d7d .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-50 .elementor-element.elementor-element-5a33d7d .wdt-heading-holder>.wdt-heading-content-wrapper {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-50 .elementor-element.elementor-element-9fd91b6>.elementor-widget-container {
    padding: 0px 0px 45px 0px;
}

.elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-column-gap-custom {
    margin: -20px;
}

.elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-column-gap-custom .wdt-column {
    padding: 20px;
}

.elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-50 .elementor-element.elementor-element-9791dc9,
.elementor-50 .elementor-element.elementor-element-9791dc9>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-50 .elementor-element.elementor-element-9791dc9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-50 .elementor-element.elementor-element-9791dc9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-bd7d0cf>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder,
.elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-50 .elementor-element.elementor-element-26fc685>.elementor-widget-container {
    margin: -40px 0px 0px 0px;
    padding: 50px 0px 0px 0px;
}

.elementor-50 .elementor-element.elementor-element-26fc685 .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-50 .elementor-element.elementor-element-26fc685 .wdt-content-item .wdt-content-title h5,
.elementor-50 .elementor-element.elementor-element-26fc685 .wdt-content-item .wdt-content-title h5>a {
    color: var( --e-global-color-5ad5068);
}

.elementor-50 .elementor-element.elementor-element-26fc685 .wdt-content-item:hover .wdt-content-title h5,
.elementor-50 .elementor-element.elementor-element-26fc685 .wdt-content-item:hover .wdt-content-title h5>a:hover,
.elementor-50 .elementor-element.elementor-element-26fc685 .wdt-content-item:hover .wdt-content-elements-group:hover .wdt-content-title h5>a:hover,
.wdt-content-item:hover .wdt-content-elements-group.wdt-media-image-cover>.wdt-media-image-cover-container>div h5>a:hover,
.wdt-content-item:hover .wdt-content-elements-group.wdt-media-image-overlay>.wdt-media-image-overlay-container>div h5>a:hover {
    color: var( --e-global-color-secondary);
}

.elementor-50 .elementor-element.elementor-element-4bb5ea8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-50 .elementor-element.elementor-element-4bb5ea8>.elementor-element-populated,
.elementor-50 .elementor-element.elementor-element-4bb5ea8>.elementor-element-populated>.elementor-background-overlay,
.elementor-50 .elementor-element.elementor-element-4bb5ea8>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-50 .elementor-element.elementor-element-99d7217:not(.elementor-motion-effects-element-type-background),
.elementor-50 .elementor-element.elementor-element-99d7217>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-ad7f104);
}

.elementor-50 .elementor-element.elementor-element-99d7217,
.elementor-50 .elementor-element.elementor-element-99d7217>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-50 .elementor-element.elementor-element-99d7217 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 74px 60px 74px;
}

.elementor-50 .elementor-element.elementor-element-99d7217>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-50 .elementor-element.elementor-element-3ee1cc6 {
    width: var( --container-widget-width, 383px);
    max-width: 383px;
    --container-widget-width: 383px;
    --container-widget-flex-grow: 0;
}

.elementor-50 .elementor-element.elementor-element-3ee1cc6>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder,
.elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-50 .elementor-element.elementor-element-5c34ef6 {
    padding: 130px 0px 0px 0px;
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-50 .elementor-element.elementor-element-a198593 {
        width: 45%;
    }
    .elementor-50 .elementor-element.elementor-element-4bb5ea8 {
        width: 55%;
    }
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-50 .elementor-element.elementor-element-a198593 {
        width: 100%;
    }
    .elementor-50 .elementor-element.elementor-element-4bb5ea8 {
        width: 100%;
    }
}

@media(max-width:1540px) {
    .elementor-50 .elementor-element.elementor-element-a198593>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-5a33d7d>.elementor-widget-container {
        padding: 0px 0px 40px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-4bb5ea8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-50 .elementor-element.elementor-element-5c34ef6 {
        padding: 100px 0px 0px 0px;
    }
}

@media(max-width:1280px) {
    .elementor-50 .elementor-element.elementor-element-a198593>.elementor-element-populated {
        padding: 0px 40px 0px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-5a33d7d>.elementor-widget-container {
        padding: 0px 0px 30px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-9fd91b6>.elementor-widget-container {
        padding: 0px 0px 40px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-column-gap-custom {
        margin: -10px;
    }
    .elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-column-gap-custom .wdt-column {
        padding: 10px;
    }
    .elementor-50 .elementor-element.elementor-element-bd7d0cf>.elementor-widget-container {
        padding: 0px 0px 5px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-99d7217 {
        padding: 60px 40px 60px 40px;
    }
    .elementor-50 .elementor-element.elementor-element-5c34ef6 {
        padding: 80px 0px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-50 .elementor-element.elementor-element-a198593>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder,
    .elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-50 .elementor-element.elementor-element-5a33d7d>.elementor-widget-container {
        padding: 0px 0px 30px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-5a33d7d .wdt-heading-holder,
    .elementor-50 .elementor-element.elementor-element-5a33d7d .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-content-item {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-50 .elementor-element.elementor-element-2ebba25>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
    .elementor-50 .elementor-element.elementor-element-bd7d0cf>.elementor-widget-container {
        padding: 0px 0px 15px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder,
    .elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-50 .elementor-element.elementor-element-3ee1cc6 {
        --container-widget-width: 464px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 464px);
        max-width: 464px;
    }
    .elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder,
    .elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-50 .elementor-element.elementor-element-5c34ef6 {
        padding: 70px 0px 0px 0px;
    }
}

@media(max-width:768px) {
    .elementor-50 .elementor-element.elementor-element-a198593.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder,
    .elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-50 .elementor-element.elementor-element-ddfd6d4 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-5a33d7d>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-5a33d7d .wdt-heading-holder,
    .elementor-50 .elementor-element.elementor-element-5a33d7d .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-9fd91b6 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-column-gap-custom {
        margin: -15px;
    }
    .elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-column-gap-custom .wdt-column {
        padding: 15px;
    }
    .elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-content-item {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder,
    .elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-50 .elementor-element.elementor-element-bd7d0cf .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-4bb5ea8.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-50 .elementor-element.elementor-element-99d7217 {
        padding: 40px 20px 40px 20px;
    }
    .elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder,
    .elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-50 .elementor-element.elementor-element-3ee1cc6 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-2f76cb4>.elementor-widget-container {
        margin: 0px 0px -20px 0px;
    }
    .elementor-50 .elementor-element.elementor-element-5c34ef6 {
        padding: 60px 0px 0px 0px;
    }
}

@media(max-width:480px) {
    .elementor-50 .elementor-element.elementor-element-9fd91b6 .wdt-content-item {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-50 .elementor-element.elementor-element-5c34ef6 {
        padding: 50px 0px 0px 0px;
    }
}