.elementor-574 .elementor-element.elementor-element-3b57a86 .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-574 .elementor-element.elementor-element-3b57a86 .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    font-size: 150px;
}