.elementor-137 .elementor-element.elementor-element-b531080>.elementor-background-overlay {
    background-color: #070505;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-137 .elementor-element.elementor-element-b531080 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #1369a666;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-e450747.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-e450747.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-e450747>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #1369a666;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 0px 10px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-137 .elementor-element.elementor-element-e450747>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-137 .elementor-element.elementor-element-1bc2f53 {
    width: auto;
    max-width: auto;
}

.elementor-137 .elementor-element.elementor-element-1bc2f53>.elementor-widget-container {
    padding: 0px 30px 0px 30px;
}

.elementor-137 .elementor-element.elementor-element-1bc2f53 div.wdt-logo-container img {
    max-width: 160px;
    width: 160px;
}

.wdt-popup-box-window-e1d1b9f .wdt-popup-box-content-holder.wdt-content-type-content,
.wdt-popup-box-window-e1d1b9f.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder.wdt-content-type-content {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-e057fd1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-e057fd1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-e057fd1>.elementor-element-populated {
    padding: 0px 0px 0px 30px;
}

.elementor-137 .elementor-element.elementor-element-79ce248 {
    width: initial;
    max-width: initial;
}

.elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-785a3d9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-785a3d9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-785a3d9.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-137 .elementor-element.elementor-element-785a3d9>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #1369a666;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 0px 10px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-137 .elementor-element.elementor-element-785a3d9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-137 .elementor-element.elementor-element-5899066 {
    width: auto;
    max-width: auto;
    --e-icon-list-icon-size: 30px;
    --icon-vertical-offset: 0px;
}

.elementor-137 .elementor-element.elementor-element-5899066 .elementor-icon-list-icon i {
    color: var( --e-global-color-5ad5068);
    transition: color 0.3s;
}

.elementor-137 .elementor-element.elementor-element-5899066 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-5ad5068);
    transition: fill 0.3s;
}

.elementor-137 .elementor-element.elementor-element-5899066 .elementor-icon-list-text {
    color: var( --e-global-color-5ad5068);
    transition: color 0.3s;
}

.elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-ad5b6d0.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-ad5b6d0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-ad5b6d0.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-137 .elementor-element.elementor-element-ad5b6d0>.elementor-element-populated {
    margin: 10px 0px 10px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-137 .elementor-element.elementor-element-76cd7b9 {
    width: auto;
    max-width: auto;
}

.elementor-137 .elementor-element.elementor-element-76cd7b9>.elementor-widget-container {
    border-style: solid;
    border-color: #1369a666;
}

.elementor-137 .elementor-element.elementor-element-76cd7b9 .elementor-widget-container {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-bc-flex-widget .elementor-137 .elementor-element.elementor-element-9417c0a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-9417c0a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-137 .elementor-element.elementor-element-9417c0a.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-137 .elementor-element.elementor-element-ec032f4 .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon {
    background-color: var( --e-global-color-secondary);
}

.elementor-137 .elementor-element.elementor-element-ec032f4 {
    width: auto;
    max-width: auto;
}

.elementor-137 .elementor-element.elementor-element-ec032f4>.elementor-widget-container {
    background-color: var( --e-global-color-b43d417);
}

@media(min-width:481px) {
    .elementor-137 .elementor-element.elementor-element-e450747 {
        width: 14%;
    }
    .elementor-137 .elementor-element.elementor-element-e057fd1 {
        width: 55%;
    }
    .elementor-137 .elementor-element.elementor-element-785a3d9 {
        width: 19%;
    }
    .elementor-137 .elementor-element.elementor-element-ad5b6d0 {
        width: 7%;
    }
    .elementor-137 .elementor-element.elementor-element-9417c0a {
        width: 5%;
    }
}

@media(max-width:1540px) and (min-width:481px) {
    .elementor-137 .elementor-element.elementor-element-e450747 {
        width: 20%;
    }
    .elementor-137 .elementor-element.elementor-element-e057fd1 {
        width: 70%;
    }
    .elementor-137 .elementor-element.elementor-element-785a3d9 {
        width: 20%;
    }
    .elementor-137 .elementor-element.elementor-element-ad5b6d0 {
        width: 20%;
    }
    .elementor-137 .elementor-element.elementor-element-9417c0a {
        width: 10%;
    }
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-137 .elementor-element.elementor-element-e450747 {
        width: 50%;
    }
    .elementor-137 .elementor-element.elementor-element-785a3d9 {
        width: 60%;
    }
    .elementor-137 .elementor-element.elementor-element-ad5b6d0 {
        width: 60%;
    }
    .elementor-137 .elementor-element.elementor-element-9417c0a {
        width: 50%;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .elementor-137 .elementor-element.elementor-element-e450747 {
        width: 50%;
    }
    .elementor-137 .elementor-element.elementor-element-785a3d9 {
        width: 50%;
    }
    .elementor-137 .elementor-element.elementor-element-ad5b6d0 {
        width: 50%;
    }
    .elementor-137 .elementor-element.elementor-element-9417c0a {
        width: 50%;
    }
}

@media(max-width:1540px) {
    .elementor-137 .elementor-element.elementor-element-1bc2f53 div.wdt-logo-container img {
        max-width: 160px;
        width: 160px;
    }
    .elementor-137 .elementor-element.elementor-element-76cd7b9>.elementor-widget-container {
        padding: 10px 30px 10px 30px;
        border-width: 0px 0px 0px 1px;
    }
}

@media(max-width:1280px) {
    .elementor-137 .elementor-element.elementor-element-e450747>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-137 .elementor-element.elementor-element-1bc2f53 div.wdt-logo-container img {
        max-width: 160px;
        width: 160px;
    }
    .elementor-137 .elementor-element.elementor-element-76cd7b9>.elementor-widget-container {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-137 .elementor-element.elementor-element-84f0481 {
        width: auto;
        max-width: auto;
    }
}

@media(max-width:1024px) {
    .elementor-137 .elementor-element.elementor-element-1bc2f53 div.wdt-logo-container img {
        max-width: 160px;
        width: 160px;
    }
}

@media(max-width:768px) {
    .elementor-137 .elementor-element.elementor-element-1bc2f53>.elementor-widget-container {
        padding: 0px 0px 0px 20px;
    }
    .elementor-137 .elementor-element.elementor-element-1bc2f53 div.wdt-logo-container img {
        max-width: 150px;
        width: 150px;
    }
}

@media(max-width:480px) {
    .elementor-137 .elementor-element.elementor-element-e450747 {
        width: 70%;
    }
    .elementor-137 .elementor-element.elementor-element-1bc2f53 div.wdt-logo-container img {
        max-width: 140px;
        width: 140px;
    }
    .elementor-137 .elementor-element.elementor-element-785a3d9 {
        width: 30%;
    }
    .elementor-137 .elementor-element.elementor-element-ad5b6d0 {
        width: 30%;
    }
    .elementor-137 .elementor-element.elementor-element-9417c0a {
        width: 30%;
    }
}