.elementor-570 .elementor-element.elementor-element-a39c942>.elementor-element-populated {
    padding: 0px 0px 0px 10px;
}

.elementor-570 .elementor-element.elementor-element-38bc57e>.elementor-widget-container {
    padding: 0% 15% 0% 0%;
}

.elementor-570 .elementor-element.elementor-element-38bc57e .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}