.elementor-48 .elementor-element.elementor-element-d95e71d {
    margin-top: 0px;
    margin-bottom: 130px;
}

.elementor-48 .elementor-element.elementor-element-e1de32c {
    padding: 0px 0px 30px 0px;
}

.elementor-48 .elementor-element.elementor-element-4b6d1cb .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-48 .elementor-element.elementor-element-4b6d1cb .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-48 .elementor-element.elementor-element-4b6d1cb .wdt-heading-holder,
.elementor-48 .elementor-element.elementor-element-4b6d1cb .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-48 .elementor-element.elementor-element-4b6d1cb .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-48 .elementor-element.elementor-element-4b6d1cb .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-48 .elementor-element.elementor-element-f8b935b .wdt-heading-holder,
.elementor-48 .elementor-element.elementor-element-f8b935b .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-48 .elementor-element.elementor-element-f8b935b .wdt-heading-holder>.wdt-heading-content-wrapper {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-48 .elementor-element.elementor-element-54ca60f {
    text-align: center;
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-48 .elementor-element.elementor-element-7cbec5f {
        width: 20%;
    }
    .elementor-48 .elementor-element.elementor-element-692029e {
        width: 60%;
    }
    .elementor-48 .elementor-element.elementor-element-d4280ac {
        width: 20%;
    }
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-48 .elementor-element.elementor-element-7cbec5f {
        width: 10%;
    }
    .elementor-48 .elementor-element.elementor-element-692029e {
        width: 80%;
    }
    .elementor-48 .elementor-element.elementor-element-d4280ac {
        width: 10%;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .elementor-48 .elementor-element.elementor-element-7cbec5f {
        width: 100%;
    }
    .elementor-48 .elementor-element.elementor-element-692029e {
        width: 100%;
    }
    .elementor-48 .elementor-element.elementor-element-d4280ac {
        width: 100%;
    }
}

@media(max-width:1540px) {
    .elementor-48 .elementor-element.elementor-element-d95e71d {
        margin-top: 0px;
        margin-bottom: 100px;
    }
}

@media(max-width:1280px) {
    .elementor-48 .elementor-element.elementor-element-d95e71d {
        margin-top: 0px;
        margin-bottom: 80px;
    }
}

@media(max-width:1024px) {
    .elementor-48 .elementor-element.elementor-element-d95e71d {
        margin-top: 0px;
        margin-bottom: 70px;
    }
}

@media(max-width:768px) {
    .elementor-48 .elementor-element.elementor-element-d95e71d {
        margin-top: 0px;
        margin-bottom: 60px;
    }
}

@media(max-width:480px) {
    .elementor-48 .elementor-element.elementor-element-d95e71d {
        margin-top: 0px;
        margin-bottom: 50px;
    }
}