.elementor-42 .elementor-element.elementor-element-519df65>.elementor-container {
    max-width: 1480px;
}

.elementor-42 .elementor-element.elementor-element-519df65 {
    padding: 0px 0px 130px 0px;
}

.elementor-42 .elementor-element.elementor-element-090ed41>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-42 .elementor-element.elementor-element-090ed41>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-bc-flex-widget .elementor-42 .elementor-element.elementor-element-dc55d21.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-dc55d21.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-dc55d21>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-42 .elementor-element.elementor-element-dc55d21>.elementor-element-populated {
    padding: 0px 0px 0px 100px;
}

.elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-5539c2a>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-42 .elementor-element.elementor-element-c00bd69 {
    width: var( --container-widget-width, 695px);
    max-width: 695px;
    --container-widget-width: 695px;
    --container-widget-flex-grow: 0;
}

.elementor-42 .elementor-element.elementor-element-c00bd69>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-42 .elementor-element.elementor-element-c00bd69 .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-c00bd69 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-42 .elementor-element.elementor-element-c00bd69 .wdt-heading-holder>.wdt-heading-content-wrapper {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-01686d2>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder .wdt-heading-content-wrapper {
    padding: 0% 10% 0% 0%;
}

.elementor-42 .elementor-element.elementor-element-e8cf913>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-42 .elementor-element.elementor-element-f11416d {
    padding: 0px 0px 60px 0px;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-42 .elementor-element.elementor-element-a832143 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2);
}

.elementor-42 .elementor-element.elementor-element-a832143 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2);
}

.elementor-42 .elementor-element.elementor-element-a832143 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2);
}

.elementor-42 .elementor-element.elementor-element-a832143 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2);
}

body.rtl .elementor-42 .elementor-element.elementor-element-a832143 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2);
}

body:not(.rtl) .elementor-42 .elementor-element.elementor-element-a832143 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2);
}

.elementor-42 .elementor-element.elementor-element-a832143 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-42 .elementor-element.elementor-element-a832143 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-42 .elementor-element.elementor-element-a832143 {
    --e-icon-list-icon-size: 18px;
    --icon-vertical-offset: 0px;
}

.elementor-42 .elementor-element.elementor-element-a832143 .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-42 .elementor-element.elementor-element-a338b09 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px/2);
}

.elementor-42 .elementor-element.elementor-element-a338b09 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px/2);
}

.elementor-42 .elementor-element.elementor-element-a338b09 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px/2);
    margin-left: calc(18px/2);
}

.elementor-42 .elementor-element.elementor-element-a338b09 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px/2);
    margin-left: calc(-18px/2);
}

body.rtl .elementor-42 .elementor-element.elementor-element-a338b09 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px/2);
}

body:not(.rtl) .elementor-42 .elementor-element.elementor-element-a338b09 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px/2);
}

.elementor-42 .elementor-element.elementor-element-a338b09 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-42 .elementor-element.elementor-element-a338b09 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-42 .elementor-element.elementor-element-a338b09 {
    --e-icon-list-icon-size: 18px;
    --icon-vertical-offset: 0px;
}

.elementor-42 .elementor-element.elementor-element-a338b09 .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-42 .elementor-element.elementor-element-cb95ee0 {
    width: auto;
    max-width: auto;
}

.elementor-42 .elementor-element.elementor-element-cb95ee0 .elementor-widget-container {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-cb95ee0 .wdt-button-holder .wdt-button {
    margin: 0px 0px 0px 0px;
}

.elementor-42 .elementor-element.elementor-element-5c58882:not(.elementor-motion-effects-element-type-background),
.elementor-42 .elementor-element.elementor-element-5c58882>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://lawhere.wpengine.com/wp-content/uploads/2024/10/lawhere-stories-bg-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-42 .elementor-element.elementor-element-5c58882>.elementor-background-overlay {
    background-color: var( --e-global-color-b43d417);
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-42 .elementor-element.elementor-element-5c58882 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 130px 0px 130px 0px;
}

.elementor-42 .elementor-element.elementor-element-dc49ec0>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-f53c7ae>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-inner .wdt-heading-deco-icon .wdt-content-icon span {
    color: var( --e-global-color-5ad5068);
}

.elementor-42 .elementor-element.elementor-element-2b24e47>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-42 .elementor-element.elementor-element-2b24e47 .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-2b24e47 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-2b24e47 .wdt-heading-holder>.wdt-heading-content-wrapper {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-aafd50d .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-42 .elementor-element.elementor-element-e36c200 {
    padding: 120px 0px 100px 0px;
}

.elementor-42 .elementor-element.elementor-element-dffdba0 {
    margin-top: 0px;
    margin-bottom: 50px;
}

.elementor-42 .elementor-element.elementor-element-d69c3e3 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-d69c3e3 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-d69c3e3 .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-d69c3e3 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-42 .elementor-element.elementor-element-d69c3e3 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-42 .elementor-element.elementor-element-d69c3e3 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-f930c97 .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-f930c97 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-f930c97 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    color: var( --e-global-color-secondary);
}

.elementor-42 .elementor-element.elementor-element-f930c97 .wdt-heading-holder>.wdt-heading-content-wrapper {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-35b8518 .wdt-content-item .wdt-media-image-overlay>.wdt-content-image-wrapper,
.elementor-42 .elementor-element.elementor-element-35b8518 .wdt-content-item .wdt-media-image-overlay>.wdt-media-image-overlay-container,
.elementor-42 .elementor-element.elementor-element-35b8518 .wdt-content-item .wdt-media-image-cover>.wdt-content-image-wrapper,
.elementor-42 .elementor-element.elementor-element-35b8518 .wdt-content-item .wdt-media-image-cover>.wdt-media-image-cover-container {
    align-content: flex-end;
}

.elementor-42 .elementor-element.elementor-element-35b8518 .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-42 .elementor-element.elementor-element-35b8518 .wdt-content-item .wdt-social-icons-list li a {
    color: var( --e-global-color-5ad5068);
}

.elementor-42 .elementor-element.elementor-element-1624419:not(.elementor-motion-effects-element-type-background),
.elementor-42 .elementor-element.elementor-element-1624419>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-ad7f104);
}

.elementor-42 .elementor-element.elementor-element-1624419 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 130px 0px 130px 0px;
}

.elementor-42 .elementor-element.elementor-element-1624419>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-42 .elementor-element.elementor-element-4b8a69c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-42 .elementor-element.elementor-element-35aef2d .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-35aef2d .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-35aef2d>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-42 .elementor-element.elementor-element-35aef2d .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-35aef2d .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-42 .elementor-element.elementor-element-35aef2d .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-42 .elementor-element.elementor-element-35aef2d .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-93f7f9d>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-42 .elementor-element.elementor-element-93f7f9d .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-93f7f9d .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-93f7f9d .wdt-heading-holder>.wdt-heading-content-wrapper {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-88b18e5 .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-42 .elementor-element.elementor-element-8c6ca7e>.elementor-container {
    max-width: 1500px;
}

.elementor-42 .elementor-element.elementor-element-8c6ca7e {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0px 100px 0px;
}

.elementor-42 .elementor-element.elementor-element-b1ac2aa.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-42 .elementor-element.elementor-element-b1ac2aa>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-42 .elementor-element.elementor-element-bc77a50>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-e597f3d>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-42 .elementor-element.elementor-element-e597f3d .wdt-heading-holder,
.elementor-42 .elementor-element.elementor-element-e597f3d .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-e597f3d .wdt-heading-holder>.wdt-heading-content-wrapper {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-236fcef {
    width: auto;
    max-width: auto;
}

.elementor-42 .elementor-element.elementor-element-236fcef .wdt-column-gap-custom {
    margin: -10px;
}

.elementor-42 .elementor-element.elementor-element-236fcef .wdt-column-gap-custom .wdt-column {
    padding: 10px;
}

.elementor-42 .elementor-element.elementor-element-236fcef .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-42 .elementor-element.elementor-element-04f1fd8>.elementor-widget-container {
    padding: 50px 0px 0px 0px;
}

.elementor-42 .elementor-element.elementor-element-04f1fd8 .elementor-widget-container {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-42 .elementor-element.elementor-element-04f1fd8 .wdt-button-holder .wdt-button {
    margin: 0px 0px 0px 0px;
}

@media(max-width:1540px) {
    .elementor-42 .elementor-element.elementor-element-519df65 {
        padding: 0px 0px 100px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-dc55d21>.elementor-element-populated {
        padding: 0px 0px 0px 50px;
    }
    .elementor-42 .elementor-element.elementor-element-01686d2>.elementor-widget-container {
        padding: 0px 0px 35px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-f11416d {
        padding: 0px 0px 50px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-5c58882 {
        padding: 100px 0px 100px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-2b24e47>.elementor-widget-container {
        padding: 0px 0px 30px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-e36c200 {
        padding: 100px 0px 80px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-1624419 {
        padding: 100px 0px 100px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-88b18e5 .wdt-content-item .wdt-content-description {
        padding: 0% 0% 0% 0%;
    }
    .elementor-42 .elementor-element.elementor-element-8c6ca7e {
        padding: 100px 0px 100px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-b1ac2aa.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-42 .elementor-element.elementor-element-e597f3d>.elementor-widget-container {
        padding: 0px 0px 40px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-236fcef {
        width: auto;
        max-width: auto;
    }
    .elementor-42 .elementor-element.elementor-element-236fcef .wdt-content-item {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
}

@media(max-width:1280px) {
    .elementor-42 .elementor-element.elementor-element-519df65 {
        padding: 0px 0px 80px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-dc55d21>.elementor-element-populated {
        padding: 0px 0px 0px 40px;
    }
    .elementor-42 .elementor-element.elementor-element-01686d2>.elementor-widget-container {
        padding: 0px 0px 30px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-e8cf913>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
    .elementor-42 .elementor-element.elementor-element-f11416d {
        padding: 0px 0px 40px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-a832143 {
        --icon-vertical-align: flex-start;
        --icon-vertical-offset: 6px;
    }
    .elementor-42 .elementor-element.elementor-element-a338b09 {
        --icon-vertical-align: flex-start;
        --icon-vertical-offset: 6px;
    }
    .elementor-42 .elementor-element.elementor-element-cb95ee0>.elementor-widget-container {
        padding: 10px 0px 10px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-cb95ee0 .wdt-button-holder .wdt-button {
        margin: 0px 0px 0px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-5c58882 {
        padding: 80px 0px 80px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-e36c200 {
        padding: 80px 0px 60px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-dffdba0 {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .elementor-42 .elementor-element.elementor-element-1624419 {
        padding: 80px 0px 80px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-88b18e5 .wdt-content-item .wdt-content-description {
        padding: 0% 0% 0% 0%;
    }
    .elementor-42 .elementor-element.elementor-element-8c6ca7e {
        padding: 80px 0px 80px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-236fcef .wdt-column-gap-custom {
        margin: -15px;
    }
    .elementor-42 .elementor-element.elementor-element-236fcef .wdt-column-gap-custom .wdt-column {
        padding: 15px;
    }
    .elementor-42 .elementor-element.elementor-element-04f1fd8>.elementor-widget-container {
        padding: 40px 0px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-42 .elementor-element.elementor-element-519df65 {
        padding: 0px 0px 70px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-dc55d21>.elementor-element-populated {
        padding: 40px 0px 0px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-42 .elementor-element.elementor-element-c00bd69 .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-c00bd69 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-42 .elementor-element.elementor-element-01686d2 {
        width: var( --container-widget-width, 100%);
        max-width: 100%;
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
    }
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-42 .elementor-element.elementor-element-f11416d {
        padding: 0px 0px 35px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-5c58882 {
        padding: 70px 0px 70px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-42 .elementor-element.elementor-element-2b24e47>.elementor-widget-container {
        padding: 0px 0px 25px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-2b24e47 .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-2b24e47 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-42 .elementor-element.elementor-element-e36c200 {
        padding: 70px 0px 50px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-dffdba0 {
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .elementor-42 .elementor-element.elementor-element-1624419 {
        padding: 70px 0px 70px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-8c6ca7e {
        padding: 70px 0px 70px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-42 .elementor-element.elementor-element-e597f3d>.elementor-widget-container {
        padding: 0px 0px 30px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-e597f3d .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-e597f3d .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
}

@media(max-width:768px) {
    .elementor-42 .elementor-element.elementor-element-519df65 {
        padding: 0px 0px 60px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-42 .elementor-element.elementor-element-c00bd69>.elementor-widget-container {
        padding: 0px 0px 15px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-c00bd69 .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-c00bd69 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-42 .elementor-element.elementor-element-01686d2>.elementor-widget-container {
        padding: 0px 0px 25px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder .wdt-heading-content-wrapper {
        padding: 0% 0% 0% 0%;
    }
    .elementor-42 .elementor-element.elementor-element-f11416d {
        padding: 0px 0px 25px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-42344ab>.elementor-element-populated {
        padding: 0px 0px 10px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-cb95ee0>.elementor-widget-container {
        padding: 10px 10px 10px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-5c58882 {
        padding: 60px 0px 60px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-42 .elementor-element.elementor-element-f53c7ae .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-42 .elementor-element.elementor-element-2b24e47>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-2b24e47 .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-2b24e47 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-42 .elementor-element.elementor-element-e36c200 {
        padding: 60px 0px 50px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-dffdba0 {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .elementor-42 .elementor-element.elementor-element-1624419 {
        padding: 60px 0px 60px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-93f7f9d>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-8c6ca7e {
        padding: 60px 0px 60px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-42 .elementor-element.elementor-element-bc77a50 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-42 .elementor-element.elementor-element-e597f3d>.elementor-widget-container {
        padding: 0px 0px 25px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-e597f3d .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-e597f3d .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .elementor-42 .elementor-element.elementor-element-04f1fd8>.elementor-widget-container {
        padding: 35px 0px 0px 0px;
    }
}

@media(max-width:480px) {
    .elementor-42 .elementor-element.elementor-element-519df65 {
        padding: 0px 0px 50px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder,
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
    .elementor-42 .elementor-element.elementor-element-5539c2a .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-42 .elementor-element.elementor-element-c00bd69>.elementor-widget-container {
        padding: 0px 0px 12px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-01686d2>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-01686d2 .wdt-heading-holder .wdt-heading-content-wrapper {
        padding: 0% 0% 0% 0%;
    }
    .elementor-42 .elementor-element.elementor-element-5c58882 {
        padding: 50px 0px 50px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-dc49ec0.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-42 .elementor-element.elementor-element-2b24e47>.elementor-widget-container {
        padding: 0px 0px 10px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-e36c200 {
        padding: 50px 0px 40px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-dffdba0 {
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .elementor-42 .elementor-element.elementor-element-1624419 {
        padding: 50px 0px 50px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-8c6ca7e {
        padding: 50px 0px 50px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-e597f3d>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-42 .elementor-element.elementor-element-04f1fd8>.elementor-widget-container {
        padding: 30px 0px 0px 0px;
    }
}

@media(min-width:481px) {
    .elementor-42 .elementor-element.elementor-element-090ed41 {
        width: 40%;
    }
    .elementor-42 .elementor-element.elementor-element-dc55d21 {
        width: 60%;
    }
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-42 .elementor-element.elementor-element-090ed41 {
        width: 100%;
    }
    .elementor-42 .elementor-element.elementor-element-dc55d21 {
        width: 100%;
    }
}