.elementor-284 .elementor-element.elementor-element-652cbee {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #D9D9D9;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0px 0px 30px 0px;
}

.elementor-284 .elementor-element.elementor-element-652cbee>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-284 .elementor-element.elementor-element-026b50a {
    --e-icon-list-icon-size: 6px;
    --icon-vertical-offset: -2px;
}

.elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-icon {
    padding-right: 6px;
}

.elementor-284 .elementor-element.elementor-element-026b50a .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-284 .elementor-element.elementor-element-c2b71e9 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-284 .elementor-element.elementor-element-d114070 {
    --e-icon-list-icon-size: 6px;
    --icon-vertical-offset: -2px;
}

.elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-icon {
    padding-right: 6px;
}

.elementor-284 .elementor-element.elementor-element-d114070 .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

@media(max-width:1024px) {
    .elementor-284 .elementor-element.elementor-element-652cbee {
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 0px 0px 20px 0px;
    }
}