.elementor-273 .elementor-element.elementor-element-ae4f3df>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-273 .elementor-element.elementor-element-f5c5b84>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-273 .elementor-element.elementor-element-46e020c>.elementor-element-populated {
    padding: 0px 50px 0px 0px;
}

.elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom {
    margin: -30px;
}

.elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom .wdt-column {
    padding: 30px;
}

.elementor-273 .elementor-element.elementor-element-38fce9c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-273 .elementor-element.elementor-element-38fce9c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-ad7f104);
}

.elementor-273 .elementor-element.elementor-element-38fce9c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 50px 50px;
}

.elementor-273 .elementor-element.elementor-element-38fce9c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-273 .elementor-element.elementor-element-4c787f8 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-273 .elementor-element.elementor-element-c877783 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-273 .elementor-element.elementor-element-c877783 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-273 .elementor-element.elementor-element-c877783 .wdt-heading-holder,
.elementor-273 .elementor-element.elementor-element-c877783 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-273 .elementor-element.elementor-element-c877783 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-273 .elementor-element.elementor-element-c877783 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-273 .elementor-element.elementor-element-32c4b1e .elementor-widget-container {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

@media(max-width:1540px) {
    .elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom {
        margin: -25px;
    }
    .elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom .wdt-column {
        padding: 25px;
    }
    .elementor-273 .elementor-element.elementor-element-38fce9c>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }
}

@media(max-width:1280px) {
    .elementor-273 .elementor-element.elementor-element-46e020c>.elementor-element-populated {
        padding: 0px 20px 0px 0px;
    }
    .elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom {
        margin: -20px;
    }
    .elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom .wdt-column {
        padding: 20px;
    }
}

@media(max-width:1024px) {
    .elementor-273 .elementor-element.elementor-element-46e020c>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom {
        margin: -16px;
    }
    .elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom .wdt-column {
        padding: 16px;
    }
    .elementor-273 .elementor-element.elementor-element-38fce9c>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 50px 50px 50px;
    }
}

@media(max-width:768px) {
    .elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom {
        margin: -10px;
    }
    .elementor-273 .elementor-element.elementor-element-ea1eb42 .wdt-column-gap-custom .wdt-column {
        padding: 10px;
    }
}

@media(max-width:480px) {
    .elementor-273 .elementor-element.elementor-element-38fce9c>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }
}

@media(min-width:481px) {
    .elementor-273 .elementor-element.elementor-element-46e020c {
        width: 68%;
    }
    .elementor-273 .elementor-element.elementor-element-38fce9c {
        width: 32%;
    }
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-273 .elementor-element.elementor-element-46e020c {
        width: 60%;
    }
    .elementor-273 .elementor-element.elementor-element-38fce9c {
        width: 40%;
    }
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-273 .elementor-element.elementor-element-46e020c {
        width: 100%;
    }
    .elementor-273 .elementor-element.elementor-element-38fce9c {
        width: 100%;
    }
}