.elementor-413 .elementor-element.elementor-element-09b75e8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-widget-image-gallery .gallery-item .gallery-caption {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-413 .elementor-element.elementor-element-26bb6b3 {
    width: initial;
    max-width: initial;
}

.elementor-413 .elementor-element.elementor-element-26bb6b3 .gallery-item {
    padding: 0 20px 20px 0;
}

.elementor-413 .elementor-element.elementor-element-26bb6b3 .gallery {
    margin: 0 -20px -20px 0;
}

.elementor-413 .elementor-element.elementor-element-26bb6b3 .gallery-item img {
    border-style: none;
}

.elementor-413 .elementor-element.elementor-element-26bb6b3 .gallery-item .gallery-caption {
    text-align: left;
}

.elementor-413 .elementor-element.elementor-element-046f2e3.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-413 .elementor-element.elementor-element-27edde2 {
        width: 60%;
    }
    .elementor-413 .elementor-element.elementor-element-046f2e3 {
        width: 40%;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .elementor-413 .elementor-element.elementor-element-27edde2 {
        width: 100%;
    }
    .elementor-413 .elementor-element.elementor-element-046f2e3 {
        width: 100%;
    }
}

@media(max-width:1280px) {
    .elementor-413 .elementor-element.elementor-element-26bb6b3 {
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width:768px) {
    .elementor-413 .elementor-element.elementor-element-27edde2>.elementor-element-populated {
        margin: 0px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-046f2e3.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
}

@media(max-width:480px) {
    .elementor-413 .elementor-element.elementor-element-046f2e3.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
}