.elementor-614 .elementor-element.elementor-element-d5b1af2>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-614 .elementor-element.elementor-element-d5b1af2 {
    padding: 0px 0px 0px 0px;
}

.elementor-614 .elementor-element.elementor-element-f10a85a>.elementor-element-populated,
.elementor-614 .elementor-element.elementor-element-f10a85a>.elementor-element-populated>.elementor-background-overlay,
.elementor-614 .elementor-element.elementor-element-f10a85a>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-614 .elementor-element.elementor-element-3e09ce1 {
    width: initial;
    max-width: initial;
}

.elementor-614 .elementor-element.elementor-element-3e09ce1 img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.elementor-614 .elementor-element.elementor-element-12c291d>.elementor-element-populated,
.elementor-614 .elementor-element.elementor-element-12c291d>.elementor-element-populated>.elementor-background-overlay,
.elementor-614 .elementor-element.elementor-element-12c291d>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-614 .elementor-element.elementor-element-12c291d>.elementor-element-populated {
    margin: 0px 60px 100px 0px;
    --e-column-margin-right: 60px;
    --e-column-margin-left: 0px;
}

.elementor-614 .elementor-element.elementor-element-1c7f742:not(.elementor-motion-effects-element-type-background),
.elementor-614 .elementor-element.elementor-element-1c7f742>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-ad7f104);
}

.elementor-614 .elementor-element.elementor-element-1c7f742,
.elementor-614 .elementor-element.elementor-element-1c7f742>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-614 .elementor-element.elementor-element-1c7f742 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 50px 50px;
    z-index: 1;
}

.elementor-614 .elementor-element.elementor-element-1c7f742>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-614 .elementor-element.elementor-element-26cf6c5.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-614 .elementor-element.elementor-element-8c36e96 {
    width: auto;
    max-width: auto;
}

.elementor-614 .elementor-element.elementor-element-8c36e96>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a {
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 50px;
}

.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>a,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>span,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group .wdt-content-image-wrapper,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image>a,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image>span,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group .wdt-content-image-wrapper,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image>a,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image>span,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image>a,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image>span,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image>a,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image>span {
    min-width: 100px;
}

.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder .wdt-content-item .wdt-content-elements-group.wdt-media-image-cover .wdt-content-image-wrapper .wdt-content-image>span,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder .wdt-content-item .wdt-content-elements-group.wdt-media-image-cover .wdt-content-image-wrapper .wdt-content-image>a,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder .wdt-content-item .wdt-content-elements-group.wdt-media-image-overlay .wdt-content-image-wrapper .wdt-content-image>span,
.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-content-item-holder .wdt-content-item .wdt-content-elements-group.wdt-media-image-overlay .wdt-content-image-wrapper .wdt-content-image>a {
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.elementor-614 .elementor-element.elementor-element-8c36e96 .wdt-rc-template-stage-over .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper {
    font-size: 100px;
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-614 .elementor-element.elementor-element-1167b77>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-614 .elementor-element.elementor-element-c032c0b {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #1369a64D;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 30px 0px 35px 0px;
}

.elementor-614 .elementor-element.elementor-element-c032c0b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-614 .elementor-element.elementor-element-12c0a58>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-614 .elementor-element.elementor-element-12c0a58>.elementor-element-populated {
    padding: 0px 20px 0px 0px;
}

.elementor-614 .elementor-element.elementor-element-cfcc623 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-614 .elementor-element.elementor-element-cfcc623 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-614 .elementor-element.elementor-element-cfcc623>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-614 .elementor-element.elementor-element-cfcc623 .wdt-heading-holder,
.elementor-614 .elementor-element.elementor-element-cfcc623 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-614 .elementor-element.elementor-element-cfcc623 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-614 .elementor-element.elementor-element-cfcc623 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-614 .elementor-element.elementor-element-31ef73d {
    width: var( --container-widget-width, 300px);
    max-width: 300px;
    --container-widget-width: 300px;
    --container-widget-flex-grow: 0;
    --e-icon-list-icon-size: 6px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 10px;
}

.elementor-614 .elementor-element.elementor-element-31ef73d>.elementor-widget-container {
    margin: 0px 0px 8px 0px;
}

.elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
    transition: color 0.3s;
}

.elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
    transition: fill 0.3s;
}

.elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-icon {
    padding-right: 5px;
}

.elementor-614 .elementor-element.elementor-element-31ef73d .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-614 .elementor-element.elementor-element-27f54bb>.elementor-widget-container {
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 30px;
}

.elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
    transition: color 0.3s;
}

.elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
    transition: fill 0.3s;
}

.elementor-614 .elementor-element.elementor-element-27f54bb {
    --e-icon-list-icon-size: 6px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 10px;
}

.elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-icon {
    padding-right: 5px;
}

.elementor-614 .elementor-element.elementor-element-27f54bb .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-614 .elementor-element.elementor-element-05f23e2 {
    width: var( --container-widget-width, 250px);
    max-width: 250px;
    --container-widget-width: 250px;
    --container-widget-flex-grow: 0;
    --e-icon-list-icon-size: 6px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 10px;
}

.elementor-614 .elementor-element.elementor-element-05f23e2>.elementor-widget-container {
    margin: 0px 0px 8px 0px;
}

.elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
    transition: color 0.3s;
}

.elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
    transition: fill 0.3s;
}

.elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-icon {
    padding-right: 5px;
}

.elementor-614 .elementor-element.elementor-element-05f23e2 .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-614 .elementor-element.elementor-element-5f33eef>.elementor-widget-container {
    padding: 0px 0px 0px 30px;
}

.elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
    transition: color 0.3s;
}

.elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
    transition: fill 0.3s;
}

.elementor-614 .elementor-element.elementor-element-5f33eef {
    --e-icon-list-icon-size: 6px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 10px;
}

.elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-icon {
    padding-right: 5px;
}

.elementor-614 .elementor-element.elementor-element-5f33eef .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-614 .elementor-element.elementor-element-a384adf>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-614 .elementor-element.elementor-element-a384adf>.elementor-element-populated {
    padding: 0px 0px 0px 20px;
}

.elementor-614 .elementor-element.elementor-element-f7b8ec1 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-614 .elementor-element.elementor-element-f7b8ec1 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-614 .elementor-element.elementor-element-f7b8ec1>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-614 .elementor-element.elementor-element-f7b8ec1 .wdt-heading-holder,
.elementor-614 .elementor-element.elementor-element-f7b8ec1 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-614 .elementor-element.elementor-element-f7b8ec1 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-614 .elementor-element.elementor-element-f7b8ec1 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-614 .elementor-element.elementor-element-4a40997 {
    width: initial;
    max-width: initial;
}

.elementor-614 .elementor-element.elementor-element-4a40997>.elementor-widget-container {
    margin: 3px 20px 3px 0px;
}

.elementor-614 .elementor-element.elementor-element-4a40997 .elementor-widget-container {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-614 .elementor-element.elementor-element-4a40997 .wdt-button-holder .wdt-button {
    margin: 0px 0px 0px 0px;
}

.elementor-614 .elementor-element.elementor-element-36b588f {
    width: initial;
    max-width: initial;
    --e-icon-list-icon-size: 16px;
    --icon-vertical-offset: 0px;
}

.elementor-614 .elementor-element.elementor-element-36b588f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-614 .elementor-element.elementor-element-36b588f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-614 .elementor-element.elementor-element-36b588f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-614 .elementor-element.elementor-element-36b588f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-614 .elementor-element.elementor-element-36b588f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-614 .elementor-element.elementor-element-36b588f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-614 .elementor-element.elementor-element-36b588f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-614 .elementor-element.elementor-element-36b588f .elementor-icon-list-text {
    transition: color 0.3s;
}

@media(max-width:1540px) {
    .elementor-614 .elementor-element.elementor-element-12c291d>.elementor-element-populated {
        margin: 0px 50px 80px 0px;
        --e-column-margin-right: 50px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:1280px) {
    .elementor-614 .elementor-element.elementor-element-f10a85a.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-614 .elementor-element.elementor-element-12c291d>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-614 .elementor-element.elementor-element-1c7f742 {
        padding: 30px 30px 30px 30px;
    }
    .elementor-614 .elementor-element.elementor-element-8c36e96>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }
    .elementor-614 .elementor-element.elementor-element-31ef73d {
        width: 100%;
        max-width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-27f54bb {
        width: 100%;
        max-width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-05f23e2 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-5f33eef {
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-614 .elementor-element.elementor-element-c032c0b {
        padding: 25px 0px 30px 0px;
    }
}

@media(max-width:768px) {
    .elementor-614 .elementor-element.elementor-element-12c0a58>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-614 .elementor-element.elementor-element-cfcc623>.elementor-widget-container {
        padding: 0px 0px 15px 0px;
    }
    .elementor-614 .elementor-element.elementor-element-a384adf>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-614 .elementor-element.elementor-element-f7b8ec1>.elementor-widget-container {
        padding: 0px 0px 15px 0px;
    }
}

@media(max-width:480px) {
    .elementor-614 .elementor-element.elementor-element-f10a85a {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-1f7da4a {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-12c291d {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-1c7f742 {
        padding: 20px 20px 20px 20px;
    }
    .elementor-614 .elementor-element.elementor-element-8c36e96>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-614 .elementor-element.elementor-element-1167b77>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-614 .elementor-element.elementor-element-c032c0b {
        padding: 20px 0px 25px 0px;
    }
    .elementor-614 .elementor-element.elementor-element-12c0a58 {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-12c0a58>.elementor-element-populated {
        padding: 0px 0px 25px 0px;
    }
    .elementor-614 .elementor-element.elementor-element-27f54bb>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 10px;
    }
    .elementor-614 .elementor-element.elementor-element-5f33eef>.elementor-widget-container {
        padding: 0px 0px 0px 10px;
    }
    .elementor-614 .elementor-element.elementor-element-a384adf {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-4a40997 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-4a40997>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }
    .elementor-614 .elementor-element.elementor-element-4a40997 .elementor-widget-container {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
    .elementor-614 .elementor-element.elementor-element-4a40997 .wdt-button-holder .wdt-button {
        margin: 0px 0px 0px 0px;
    }
}

@media(min-width:481px) {
    .elementor-614 .elementor-element.elementor-element-f10a85a {
        width: 38%;
    }
    .elementor-614 .elementor-element.elementor-element-1f7da4a {
        width: 5%;
    }
    .elementor-614 .elementor-element.elementor-element-12c291d {
        width: 57%;
    }
    .elementor-614 .elementor-element.elementor-element-12c0a58 {
        width: 45%;
    }
    .elementor-614 .elementor-element.elementor-element-a384adf {
        width: 54.999%;
    }
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-614 .elementor-element.elementor-element-f10a85a {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-1f7da4a {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-12c291d {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-12c0a58 {
        width: 50%;
    }
    .elementor-614 .elementor-element.elementor-element-a384adf {
        width: 50%;
    }
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-614 .elementor-element.elementor-element-f10a85a {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-1f7da4a {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-12c291d {
        width: 100%;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .elementor-614 .elementor-element.elementor-element-f10a85a {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-1f7da4a {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-12c291d {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-12c0a58 {
        width: 100%;
    }
    .elementor-614 .elementor-element.elementor-element-a384adf {
        width: 100%;
    }
}