.elementor-49 .elementor-element.elementor-element-8c5d304 {
    padding: 0px 0px 130px 0px;
}

.elementor-49 .elementor-element.elementor-element-934480d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-49 .elementor-element.elementor-element-707c7cd .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-49 .elementor-element.elementor-element-707c7cd .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-49 .elementor-element.elementor-element-707c7cd>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-49 .elementor-element.elementor-element-707c7cd .wdt-heading-holder,
.elementor-49 .elementor-element.elementor-element-707c7cd .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-49 .elementor-element.elementor-element-707c7cd .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-49 .elementor-element.elementor-element-707c7cd .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-49 .elementor-element.elementor-element-3a7ab3b>.elementor-widget-container {
    padding: 0px 0px 60px 0px;
}

.elementor-49 .elementor-element.elementor-element-3a7ab3b .wdt-heading-holder,
.elementor-49 .elementor-element.elementor-element-3a7ab3b .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-49 .elementor-element.elementor-element-3a7ab3b .wdt-heading-holder>.wdt-heading-content-wrapper {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-49 .elementor-element.elementor-element-9d5e59a {
    margin-top: 0px;
    margin-bottom: 60px;
}

.elementor-49 .elementor-element.elementor-element-3374d52>.elementor-element-populated {
    padding: 0px 5px 0px 0px;
}

.elementor-49 .elementor-element.elementor-element-fbc0c74 .wdt-accordion-toggle-holder {
    text-align: start;
    justify-content: start;
    justify-items: start;
    border-style: solid;
}

.elementor-49 .elementor-element.elementor-element-fbc0c74 .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    color: var( --e-global-color-primary);
}

.elementor-49 .elementor-element.elementor-element-02c9aaa>.elementor-element-populated {
    padding: 0px 0px 0px 5px;
}

.elementor-49 .elementor-element.elementor-element-ae0c396 .wdt-accordion-toggle-holder {
    text-align: start;
    justify-content: start;
    justify-items: start;
    border-style: solid;
}

.elementor-49 .elementor-element.elementor-element-ae0c396 .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    color: var( --e-global-color-primary);
}

.elementor-49 .elementor-element.elementor-element-498c98f>.elementor-background-overlay {
    background-color: var( --e-global-color-accent);
    opacity: 0.3;
}

.elementor-49 .elementor-element.elementor-element-498c98f {
    padding: 40px 40px 40px 40px;
}

.elementor-49 .elementor-element.elementor-element-4c1b311 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-49 .elementor-element.elementor-element-4c1b311 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-49 .elementor-element.elementor-element-4c1b311 .wdt-heading-holder,
.elementor-49 .elementor-element.elementor-element-4c1b311 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-49 .elementor-element.elementor-element-4c1b311 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-49 .elementor-element.elementor-element-4c1b311 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-bc-flex-widget .elementor-49 .elementor-element.elementor-element-e12ee44.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-49 .elementor-element.elementor-element-e12ee44.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-49 .elementor-element.elementor-element-e12ee44.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-49 .elementor-element.elementor-element-e12ee44>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-49 .elementor-element.elementor-element-4a3f9dc {
    width: initial;
    max-width: initial;
}

.elementor-49 .elementor-element.elementor-element-4a3f9dc .elementor-widget-container {
    text-align: end;
    justify-content: end;
    justify-items: end;
}

.elementor-49 .elementor-element.elementor-element-4a3f9dc .wdt-button-holder .wdt-button {
    margin: 0px 0px 0px 0px;
}

@media(max-width:1540px) {
    .elementor-49 .elementor-element.elementor-element-8c5d304 {
        padding: 0px 0px 100px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-3a7ab3b>.elementor-widget-container {
        padding: 0px 0px 40px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-9d5e59a {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .elementor-49 .elementor-element.elementor-element-3374d52>.elementor-element-populated {
        padding: 0px 5px 0px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-02c9aaa>.elementor-element-populated {
        padding: 0px 0px 0px 5px;
    }
    .elementor-49 .elementor-element.elementor-element-498c98f {
        padding: 30px 30px 30px 30px;
    }
    .elementor-49 .elementor-element.elementor-element-8fc1afd>.elementor-element-populated {
        padding: 0px 20px 0px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-e12ee44>.elementor-element-populated {
        padding: 0px 0px 0px 20px;
    }
}

@media(max-width:1280px) {
    .elementor-49 .elementor-element.elementor-element-8c5d304 {
        padding: 0px 0px 80px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-9d5e59a {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .elementor-49 .elementor-element.elementor-element-8fc1afd>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-e12ee44>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-4a3f9dc .elementor-widget-container {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
}

@media(max-width:1024px) {
    .elementor-49 .elementor-element.elementor-element-8c5d304 {
        padding: 0px 0px 70px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-3a7ab3b>.elementor-widget-container {
        padding: 0px 0px 40px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-9d5e59a {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .elementor-49 .elementor-element.elementor-element-3374d52>.elementor-element-populated {
        padding: 0px 0px 5px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-02c9aaa>.elementor-element-populated {
        padding: 5px 0px 0px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-498c98f {
        padding: 25px 25px 25px 25px;
    }
    .elementor-49 .elementor-element.elementor-element-8fc1afd>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-e12ee44>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-4a3f9dc .elementor-widget-container {
        text-align: end;
        justify-content: end;
        justify-items: end;
    }
}

@media(max-width:768px) {
    .elementor-49 .elementor-element.elementor-element-8c5d304 {
        padding: 0px 0px 60px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-3a7ab3b>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-9d5e59a {
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .elementor-49 .elementor-element.elementor-element-8fc1afd>.elementor-element-populated {
        padding: 0px 0px 15px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-e12ee44.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-49 .elementor-element.elementor-element-4a3f9dc .elementor-widget-container {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
}

@media(max-width:480px) {
    .elementor-49 .elementor-element.elementor-element-8c5d304 {
        padding: 0px 0px 50px 0px;
    }
    .elementor-49 .elementor-element.elementor-element-9d5e59a {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .elementor-49 .elementor-element.elementor-element-498c98f {
        padding: 20px 20px 20px 20px;
    }
    .elementor-49 .elementor-element.elementor-element-4a3f9dc .elementor-widget-container {
        text-align: start;
        justify-content: start;
        justify-items: start;
    }
}

@media(min-width:481px) {
    .elementor-49 .elementor-element.elementor-element-3e4b1fb {
        width: 20%;
    }
    .elementor-49 .elementor-element.elementor-element-2effd20 {
        width: 60%;
    }
    .elementor-49 .elementor-element.elementor-element-8fc1afd {
        width: 62%;
    }
    .elementor-49 .elementor-element.elementor-element-e12ee44 {
        width: 38%;
    }
    .elementor-49 .elementor-element.elementor-element-109f781 {
        width: 20%;
    }
}

@media(max-width:1540px) and (min-width:481px) {
    .elementor-49 .elementor-element.elementor-element-8fc1afd {
        width: 50%;
    }
    .elementor-49 .elementor-element.elementor-element-e12ee44 {
        width: 50%;
    }
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-49 .elementor-element.elementor-element-8fc1afd {
        width: 50%;
    }
    .elementor-49 .elementor-element.elementor-element-e12ee44 {
        width: 50%;
    }
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-49 .elementor-element.elementor-element-3374d52 {
        width: 100%;
    }
    .elementor-49 .elementor-element.elementor-element-02c9aaa {
        width: 100%;
    }
    .elementor-49 .elementor-element.elementor-element-8fc1afd {
        width: 44%;
    }
    .elementor-49 .elementor-element.elementor-element-e12ee44 {
        width: 56%;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .elementor-49 .elementor-element.elementor-element-3e4b1fb {
        width: 18%;
    }
    .elementor-49 .elementor-element.elementor-element-2effd20 {
        width: 64%;
    }
    .elementor-49 .elementor-element.elementor-element-8fc1afd {
        width: 100%;
    }
    .elementor-49 .elementor-element.elementor-element-e12ee44 {
        width: 100%;
    }
    .elementor-49 .elementor-element.elementor-element-109f781 {
        width: 18%;
    }
}