.elementor-202 .elementor-element.elementor-element-d9743b0 {
    padding: 0px 30px 0px 30px;
}

.elementor-bc-flex-widget .elementor-202 .elementor-element.elementor-element-bb6387c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-202 .elementor-element.elementor-element-bb6387c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-202 .elementor-element.elementor-element-8ea0e5e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-202 .elementor-element.elementor-element-8ea0e5e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-202 .elementor-element.elementor-element-8ea0e5e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-202 .elementor-element.elementor-element-8ea0e5e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-202 .elementor-element.elementor-element-8ea0e5e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-202 .elementor-element.elementor-element-8ea0e5e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-202 .elementor-element.elementor-element-8ea0e5e .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-202 .elementor-element.elementor-element-8ea0e5e .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-202 .elementor-element.elementor-element-8ea0e5e {
    --e-icon-list-icon-size: 16px;
    --icon-vertical-offset: 0px;
}

.elementor-202 .elementor-element.elementor-element-8ea0e5e .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-bc-flex-widget .elementor-202 .elementor-element.elementor-element-c9ffdaa.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-202 .elementor-element.elementor-element-c9ffdaa.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-202 .elementor-element.elementor-element-c9ffdaa.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-202 .elementor-element.elementor-element-96ed385 {
    width: auto;
    max-width: auto;
    --e-icon-list-icon-size: 30px;
    --icon-vertical-offset: 0px;
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(40px/2);
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(40px/2);
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(40px/2);
    margin-left: calc(40px/2);
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-40px/2);
    margin-left: calc(-40px/2);
}

body.rtl .elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-40px/2);
}

body:not(.rtl) .elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-40px/2);
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    border-color: #1369a666;
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 1px;
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 1px;
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-icon i {
    color: var( --e-global-color-secondary);
    transition: color 0.3s;
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-secondary);
    transition: fill 0.3s;
}

.elementor-202 .elementor-element.elementor-element-96ed385 .elementor-icon-list-text {
    color: var( --e-global-color-5ad5068);
    transition: color 0.3s;
}

.elementor-202 .elementor-element.elementor-element-ec816c4:not(.elementor-motion-effects-element-type-background),
.elementor-202 .elementor-element.elementor-element-ec816c4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #07050599;
}

.elementor-202 .elementor-element.elementor-element-ec816c4 {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #1369a64D;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-202 .elementor-element.elementor-element-ec816c4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-202 .elementor-element.elementor-element-32896d1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-202 .elementor-element.elementor-element-32896d1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-202 .elementor-element.elementor-element-80dced7 {
    width: auto;
    max-width: auto;
}

.elementor-202 .elementor-element.elementor-element-80dced7>.elementor-widget-container {
    padding: 0px 30px 0px 30px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #1369a666;
}

.elementor-202 .elementor-element.elementor-element-80dced7 div.wdt-logo-container img {
    max-width: 160px;
    width: 160px;
}

.wdt-popup-box-window-31b2c0c .wdt-popup-box-content-holder.wdt-content-type-content,
.wdt-popup-box-window-31b2c0c.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder.wdt-content-type-content {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-bc-flex-widget .elementor-202 .elementor-element.elementor-element-82990e6.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-202 .elementor-element.elementor-element-82990e6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-202 .elementor-element.elementor-element-7ab9cf7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-202 .elementor-element.elementor-element-7ab9cf7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-202 .elementor-element.elementor-element-7ab9cf7.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-202 .elementor-element.elementor-element-3255e99 {
    width: auto;
    max-width: auto;
}

.elementor-202 .elementor-element.elementor-element-3255e99>.elementor-widget-container {
    padding: 0px 10px 0px 10px;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #1369a666;
}

.elementor-202 .elementor-element.elementor-element-3255e99 .wdt-header-icons-list>div.search-item a.wdt-search-icon,
.elementor-202 .elementor-element.elementor-element-3255e99 .wdt-header-icons-list>div.search-item a.wdt-search-icon>*,
.elementor-202 .elementor-element.elementor-element-3255e99 .wdt-header-icons-list-item div[class*="menu-icon"] i,
.elementor-202 .elementor-element.elementor-element-3255e99 .wdt-header-icons-list>div.wdt-header-icons-list-item .wdt-shop-menu-cart-icon {
    color: var( --e-global-color-5ad5068);
}

.elementor-202 .elementor-element.elementor-element-3255e99 .wdt-header-icons-list-item a:hover i,
.elementor-202 .elementor-element.elementor-element-3255e99 .wdt-header-icons-list>div.search-item a.wdt-search-icon:hover>*,
.elementor-202 .elementor-element.elementor-element-3255e99 .wdt-header-icons-list>div.wdt-header-icons-list-item .wdt-shop-menu-icon:hover .wdt-shop-menu-cart-icon {
    color: var( --e-global-color-secondary);
}

.elementor-202 .elementor-element.elementor-element-00bf5b5 {
    width: auto;
    max-width: auto;
}

.elementor-202 .elementor-element.elementor-element-00bf5b5>.elementor-widget-container {
    padding: 0px 30px 0px 30px;
    border-style: solid;
    border-color: #1369a666;
}

.elementor-202 .elementor-element.elementor-element-00bf5b5 .elementor-widget-container {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-202 .elementor-element.elementor-element-00bf5b5 .wdt-button-holder .wdt-button {
    margin: 0px 0px 0px 0px;
}

.elementor-202 .elementor-element.elementor-element-3e4d9c6 {
    width: auto;
    max-width: auto;
}

.elementor-202 .elementor-element.elementor-element-3e4d9c6>.elementor-widget-container {
    background-color: var( --e-global-color-secondary);
}

.elementor-202 .elementor-element.elementor-element-3e4d9c6 .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon {
    color: var( --e-global-color-5ad5068);
}

.wdt-popup-box-window-3e4d9c6 .wdt-popup-box-content-holder,
.wdt-popup-box-window-3e4d9c6.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    width: 500px;
}

.elementor-202 .elementor-element.elementor-element-d4e84dd>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

@media(max-width:1540px) {
    .elementor-202 .elementor-element.elementor-element-00bf5b5>.elementor-widget-container {
        padding: 10px 30px 10px 30px;
        border-width: 0px 0px 0px 1px;
    }
    .elementor-202 .elementor-element.elementor-element-d4e84dd>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:1280px) {
    .elementor-202 .elementor-element.elementor-element-80dced7>.elementor-widget-container {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-202 .elementor-element.elementor-element-80dced7 div.wdt-logo-container img {
        max-width: 160px;
        width: 160px;
    }
    .elementor-202 .elementor-element.elementor-element-3255e99>.elementor-widget-container {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-202 .elementor-element.elementor-element-00bf5b5>.elementor-widget-container {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-202 .elementor-element.elementor-element-d4e84dd {
        width: auto;
        max-width: auto;
    }
    .elementor-202 .elementor-element.elementor-element-d4e84dd>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-202 .elementor-element.elementor-element-3255e99>.elementor-widget-container {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-202 .elementor-element.elementor-element-d4e84dd>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:768px) {
    .elementor-202 .elementor-element.elementor-element-80dced7>.elementor-widget-container {
        padding: 0px 0px 0px 20px;
        border-width: 0px 0px 0px 0px;
    }
    .elementor-202 .elementor-element.elementor-element-80dced7 div.wdt-logo-container img {
        max-width: 150px;
        width: 150px;
    }
    .elementor-202 .elementor-element.elementor-element-d4e84dd>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:480px) {
    .elementor-202 .elementor-element.elementor-element-32896d1 {
        width: 70%;
    }
    .elementor-202 .elementor-element.elementor-element-80dced7 div.wdt-logo-container img {
        max-width: 140px;
        width: 140px;
    }
    .elementor-202 .elementor-element.elementor-element-7ab9cf7 {
        width: 30%;
    }
    .elementor-202 .elementor-element.elementor-element-d4e84dd>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:481px) {
    .elementor-202 .elementor-element.elementor-element-32896d1 {
        width: 16%;
    }
    .elementor-202 .elementor-element.elementor-element-82990e6 {
        width: 51%;
    }
    .elementor-202 .elementor-element.elementor-element-7ab9cf7 {
        width: 33%;
    }
}

@media(max-width:1540px) and (min-width:481px) {
    .elementor-202 .elementor-element.elementor-element-32896d1 {
        width: 20%;
    }
    .elementor-202 .elementor-element.elementor-element-82990e6 {
        width: 50%;
    }
    .elementor-202 .elementor-element.elementor-element-7ab9cf7 {
        width: 30%;
    }
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-202 .elementor-element.elementor-element-bb6387c {
        width: 30%;
    }
    .elementor-202 .elementor-element.elementor-element-c9ffdaa {
        width: 70%;
    }
    .elementor-202 .elementor-element.elementor-element-32896d1 {
        width: 40%;
    }
    .elementor-202 .elementor-element.elementor-element-7ab9cf7 {
        width: 60%;
    }
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-202 .elementor-element.elementor-element-bb6387c {
        width: 25%;
    }
    .elementor-202 .elementor-element.elementor-element-c9ffdaa {
        width: 75%;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .elementor-202 .elementor-element.elementor-element-32896d1 {
        width: 50%;
    }
    .elementor-202 .elementor-element.elementor-element-7ab9cf7 {
        width: 50%;
    }
}