.elementor-917 .elementor-element.elementor-element-37b7395 {
    margin-top: 0px;
    margin-bottom: 120px;
}

.elementor-917 .elementor-element.elementor-element-725dd60>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 30px 0px 0px;
}

.elementor-917 .elementor-element.elementor-element-25ae667>.elementor-element-populated {
    padding: 0px 0px 0px 30px;
}

.elementor-917 .elementor-element.elementor-element-eb556e6 .wdt-accordion-toggle-holder {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-917 .elementor-element.elementor-element-b676717 {
    padding: 0px 0px 60px 0px;
}

.elementor-917 .elementor-element.elementor-element-6931c32 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-917 .elementor-element.elementor-element-6931c32 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-917 .elementor-element.elementor-element-6931c32 .wdt-heading-holder,
.elementor-917 .elementor-element.elementor-element-6931c32 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-917 .elementor-element.elementor-element-6931c32 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-917 .elementor-element.elementor-element-6931c32 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-917 .elementor-element.elementor-element-057b6fe .wdt-heading-holder,
.elementor-917 .elementor-element.elementor-element-057b6fe .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-917 .elementor-element.elementor-element-057b6fe .wdt-heading-holder>.wdt-heading-content-wrapper {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-917 .elementor-element.elementor-element-a8628f9 {
    margin-top: 0px;
    margin-bottom: 100px;
}

@media(max-width:1540px) {
    .elementor-917 .elementor-element.elementor-element-37b7395 {
        margin-top: 0px;
        margin-bottom: 100px;
    }
}

@media(max-width:1280px) {
    .elementor-917 .elementor-element.elementor-element-37b7395 {
        margin-top: 0px;
        margin-bottom: 80px;
    }
    .elementor-917 .elementor-element.elementor-element-a8628f9 {
        margin-top: 0px;
        margin-bottom: 80px;
    }
}

@media(max-width:1024px) {
    .elementor-917 .elementor-element.elementor-element-37b7395 {
        margin-top: 0px;
        margin-bottom: 70px;
    }
    .elementor-917 .elementor-element.elementor-element-725dd60>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-917 .elementor-element.elementor-element-25ae667>.elementor-element-populated {
        padding: 10px 0px 0px 0px;
    }
    .elementor-917 .elementor-element.elementor-element-a8628f9 {
        margin-top: 0px;
        margin-bottom: 70px;
    }
}

@media(max-width:768px) {
    .elementor-917 .elementor-element.elementor-element-37b7395 {
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .elementor-917 .elementor-element.elementor-element-a8628f9 {
        margin-top: 0px;
        margin-bottom: 60px;
    }
}

@media(max-width:480px) {
    .elementor-917 .elementor-element.elementor-element-37b7395 {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .elementor-917 .elementor-element.elementor-element-a8628f9 {
        margin-top: 0px;
        margin-bottom: 50px;
    }
}

@media(max-width:1280px) and (min-width:481px) {
    .elementor-917 .elementor-element.elementor-element-61d7b0c {
        width: 20%;
    }
    .elementor-917 .elementor-element.elementor-element-99572c9 {
        width: 60%;
    }
    .elementor-917 .elementor-element.elementor-element-f86d572 {
        width: 20%;
    }
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-917 .elementor-element.elementor-element-725dd60 {
        width: 100%;
    }
    .elementor-917 .elementor-element.elementor-element-25ae667 {
        width: 100%;
    }
    .elementor-917 .elementor-element.elementor-element-61d7b0c {
        width: 10%;
    }
    .elementor-917 .elementor-element.elementor-element-99572c9 {
        width: 80%;
    }
    .elementor-917 .elementor-element.elementor-element-f86d572 {
        width: 10%;
    }
}

@media(max-width:768px) and (min-width:481px) {
    .elementor-917 .elementor-element.elementor-element-61d7b0c {
        width: 100%;
    }
    .elementor-917 .elementor-element.elementor-element-99572c9 {
        width: 100%;
    }
    .elementor-917 .elementor-element.elementor-element-f86d572 {
        width: 100%;
    }
}