.elementor-995 .elementor-element.elementor-element-7cebd2a {
    margin-top: 0px;
    margin-bottom: 130px;
}

.elementor-995 .elementor-element.elementor-element-e27015c {
    margin-top: 0px;
    margin-bottom: 50px;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-995 .elementor-element.elementor-element-d919eaf img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px 10px 10px 10px;
}

.elementor-995 .elementor-element.elementor-element-c761935 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-995 .elementor-element.elementor-element-29d616f .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-29d616f .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-29d616f>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-995 .elementor-element.elementor-element-29d616f .wdt-heading-holder,
.elementor-995 .elementor-element.elementor-element-29d616f .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-995 .elementor-element.elementor-element-29d616f .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-995 .elementor-element.elementor-element-29d616f .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-995 .elementor-element.elementor-element-0ef1c3c .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-0ef1c3c .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-0ef1c3c>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-995 .elementor-element.elementor-element-0ef1c3c .wdt-heading-holder,
.elementor-995 .elementor-element.elementor-element-0ef1c3c .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-995 .elementor-element.elementor-element-0ef1c3c .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-995 .elementor-element.elementor-element-0ef1c3c .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-995 .elementor-element.elementor-element-e569e0b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-e569e0b {
    margin-top: 0px;
    margin-bottom: 50px;
}

.elementor-995 .elementor-element.elementor-element-6c0cea7>.elementor-element-populated {
    padding: 0px 80px 0px 0px;
}

.elementor-995 .elementor-element.elementor-element-a4ed145 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-a4ed145 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-a4ed145>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-995 .elementor-element.elementor-element-a4ed145 .wdt-heading-holder,
.elementor-995 .elementor-element.elementor-element-a4ed145 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-995 .elementor-element.elementor-element-a4ed145 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-995 .elementor-element.elementor-element-a4ed145 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-995 .elementor-element.elementor-element-52e4362 {
    width: initial;
    max-width: initial;
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-995 .elementor-element.elementor-element-52e4362>.elementor-widget-container {
    margin: 0px 80px 35px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-995 .elementor-element.elementor-element-52e4362 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-995 .elementor-element.elementor-element-52e4362 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-995 .elementor-element.elementor-element-52e4362 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-995 .elementor-element.elementor-element-52e4362 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-995 .elementor-element.elementor-element-52e4362 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-995 .elementor-element.elementor-element-52e4362 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-995 .elementor-element.elementor-element-52e4362 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-995 .elementor-element.elementor-element-52e4362 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-995 .elementor-element.elementor-element-52e4362 .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-995 .elementor-element.elementor-element-857d4be {
    width: initial;
    max-width: initial;
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-995 .elementor-element.elementor-element-857d4be>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-995 .elementor-element.elementor-element-857d4be .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-995 .elementor-element.elementor-element-857d4be .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-995 .elementor-element.elementor-element-857d4be .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-995 .elementor-element.elementor-element-857d4be .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-995 .elementor-element.elementor-element-857d4be .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-995 .elementor-element.elementor-element-857d4be .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-995 .elementor-element.elementor-element-857d4be .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-995 .elementor-element.elementor-element-857d4be .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-995 .elementor-element.elementor-element-857d4be .elementor-icon-list-text {
    color: var( --e-global-color-text);
    transition: color 0.3s;
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-995 .elementor-element.elementor-element-ad94d60:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-995 .elementor-element.elementor-element-ad94d60>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://lawhere.wpengine.com/wp-content/uploads/2024/11/portfolio-sub-01.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-995 .elementor-element.elementor-element-ad94d60>.elementor-element-populated,
.elementor-995 .elementor-element.elementor-element-ad94d60>.elementor-element-populated>.elementor-background-overlay,
.elementor-995 .elementor-element.elementor-element-ad94d60>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-995 .elementor-element.elementor-element-ad94d60>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-995 .elementor-element.elementor-element-ad94d60>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-995 .elementor-element.elementor-element-c518099 img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px 10px 10px 10px;
}

.elementor-995 .elementor-element.elementor-element-f9913fe {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-995 .elementor-element.elementor-element-41b300f .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-41b300f .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-41b300f .wdt-heading-holder,
.elementor-995 .elementor-element.elementor-element-41b300f .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-995 .elementor-element.elementor-element-41b300f .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-995 .elementor-element.elementor-element-41b300f .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

.elementor-995 .elementor-element.elementor-element-caa51f6 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span,
.elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a {
    border-radius: 10px 10px 10px 10px;
}

.elementor-995 .elementor-element.elementor-element-3eff9d7 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-995 .elementor-element.elementor-element-3c5eb03 .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-3c5eb03 .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    align-items: center;
}

.elementor-995 .elementor-element.elementor-element-3c5eb03 .wdt-heading-holder,
.elementor-995 .elementor-element.elementor-element-3c5eb03 .wdt-heading-holder>.wdt-heading-separator-wrapper .wdt-heading-separator,
.elementor-995 .elementor-element.elementor-element-3c5eb03 .wdt-heading-holder>.wdt-heading-title-wrapper .wdt-heading-title,
.elementor-995 .elementor-element.elementor-element-3c5eb03 .wdt-heading-holder>.wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    text-align: start;
    justify-content: start;
    justify-items: start;
}

@media(max-width:1024px) and (min-width:481px) {
    .elementor-995 .elementor-element.elementor-element-6c0cea7 {
        width: 100%;
    }
    .elementor-995 .elementor-element.elementor-element-ad94d60 {
        width: 100%;
    }
}

@media(max-width:1540px) {
    .elementor-995 .elementor-element.elementor-element-7cebd2a {
        margin-top: 0px;
        margin-bottom: 100px;
    }
}

@media(max-width:1280px) {
    .elementor-995 .elementor-element.elementor-element-7cebd2a {
        margin-top: 0px;
        margin-bottom: 80px;
    }
    .elementor-995 .elementor-element.elementor-element-6c0cea7>.elementor-element-populated {
        padding: 0px 30px 0px 0px;
    }
}

@media(max-width:1024px) {
    .elementor-995 .elementor-element.elementor-element-7cebd2a {
        margin-top: 0px;
        margin-bottom: 70px;
    }
    .elementor-995 .elementor-element.elementor-element-ad94d60>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:768px) {
    .elementor-995 .elementor-element.elementor-element-7cebd2a {
        margin-top: 0px;
        margin-bottom: 60px;
    }
    .elementor-995 .elementor-element.elementor-element-e569e0b {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .elementor-995 .elementor-element.elementor-element-caa51f6 {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a {
        width: 100%;
        height: 100%;
    }
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>a,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image>span,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group .wdt-content-image-wrapper,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image>a,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image>span,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group .wdt-content-image-wrapper,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image>a,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group .wdt-content-image-wrapper .wdt-content-image>span,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image>a,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image>span,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image>a,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-media-group .wdt-content-elements-group.wdt-media-group .wdt-content-image-wrapper .wdt-content-image>span {
        min-width: 100%;
    }
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder .wdt-content-item .wdt-content-elements-group.wdt-media-image-cover .wdt-content-image-wrapper .wdt-content-image>span,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder .wdt-content-item .wdt-content-elements-group.wdt-media-image-cover .wdt-content-image-wrapper .wdt-content-image>a,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder .wdt-content-item .wdt-content-elements-group.wdt-media-image-overlay .wdt-content-image-wrapper .wdt-content-image>span,
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-content-item-holder .wdt-content-item .wdt-content-elements-group.wdt-media-image-overlay .wdt-content-image-wrapper .wdt-content-image>a {
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .elementor-995 .elementor-element.elementor-element-3d9697f .wdt-rc-template-stage-over .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper {
        font-size: 100%;
    }
    .elementor-995 .elementor-element.elementor-element-3eff9d7 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media(max-width:480px) {
    .elementor-995 .elementor-element.elementor-element-7cebd2a {
        margin-top: 0px;
        margin-bottom: 50px;
    }
}